## importing the dependencies

In [ ]:
!pip3 install pandas

In [ ]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data collection and processing

In [27]:
# loading the csv data to a pandas Dataframe
heart_data= pd.read_csv('./heart_disease_data.csv')

In [28]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [29]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [30]:
# no.of rows and culumns in the data set
heart_data.shape

(303, 14)

In [31]:
# info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [32]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [33]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

1---> person have heart disease

0---> person does not have heart disease

In [34]:
# checking the distribution of target value
heart_data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

splitting the features and target

In [35]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [36]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [37]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

splitting  the data into training data and test data

In [38]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.2,stratify=Y, random_state=2)

In [39]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

## Model training

-LOGISTIC REGRESSION

In [42]:
model= LogisticRegression(max_iter=1000)

In [43]:
# training the LogisticRegression model with training data
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

Model evaluation

Accuracy score

In [44]:
# accuracy on training data
X_train_prediction= model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [45]:
print('Accuracy on Training data:', training_data_accuracy*100)

Accuracy on Training data: 85.53719008264463

In [46]:
# accuracy on training data
X_test_prediction= model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [47]:
print('Accuracy on Test data:', test_data_accuracy*100)

Accuracy on Test data: 80.32786885245902

## Building a predictive system

In [48]:
import numpy as np

# Taking user input for the input_data string
input_data_str = input("Enter the comma-separated values for input_data: ")
input_data_list = input_data_str.split(',')

# Converting the input_data values to the appropriate data types
input_data = tuple(map(float, input_data_list))

age = np.array([input_data[0]])
sex = np.array([input_data[1]])
cp = np.array([input_data[2]])
trestbps = np.array([input_data[3]])
chol = np.array([input_data[4]])
fbs = np.array([input_data[5]])
restecg = np.array([input_data[6]])
thalach = np.array([input_data[7]])
exang = np.array([input_data[8]])
oldpeak = np.array([input_data[9]])
slope = np.array([input_data[10]])
ca = np.array([input_data[11]])
thal = np.array([input_data[12]])


print("Age:", age)
print("Sex:", sex)
print("Cp:", cp)
print("trestbps:", trestbps)
print("chol:", chol)
print("fbs:", fbs)
print("restecg:", restecg)
print("thalach:", thalach)
print("exang:", exang)
print("oldpeak:", oldpeak)
print("slope:", slope)
print("ca:", ca)
print("thal:", thal)



# change the input data to a nmpy array
input_data_as_numpy_array=np.asarray(input_data)

# reshape the numpy array ae we are predicting for only on instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

prediction=model.predict(input_data_reshaped)
print(prediction)

ValueError: could not convert string to float: ''

In [ ]:
if (prediction[0]==0):
  print('the person does not have any heart disease')
else:
  print('the person is suffering from heart disease')